body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 60px;
}

.logo {
    width: 150px;
    margin-right: 25px;
}

h1 {
    font-size: 35px;
}

.conteudo {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 70px;
}

.informacoes {
    width: 50%;
}

.informacoes h2 {
    font-size: 25px;
    margin-top: 25px;
}

.informacoes p {
    font-size: 20px;
}

.mapa {
    width: 45%;
    height: 400px;
}

.mapa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}